@import "tailwindcss";


body.light {
    background: linear-gradient(to bottom right, #bfdbfe, #4b98f7);
    color: #1e293b; 
  }
  
  body.dark {
    background: linear-gradient(to bottom right, #020305, #1e293b);
    color: #f1f5f9; 
  }
  
  body.dark input {
    background-color: #f2f7ff;
    color: #000000;
    border: 1px solid #566985;
  }
  body.dark button {
    color: white;
  }
  
  .card,
  .history {
    background-color:  #88beff;
    color: black;
    border-radius: 0.5rem;
    padding: 1rem;
    transition: background 0.5s, color 0.5s;
  }
  
  body.dark .card,
  body.dark .history {
    background: linear-gradient(to bottom right, #121a2c, #1e293b);
    color: #f1f5f9;
  }
  